* {
    /* Esto hace que todas las cajas sean iguales */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Esto hace que la pantalla se vea blanca si el tamaño de la pantalla es superior a 480px */
@media (width > 480px) {
    * {
       display: none;
    }
}

/* Header */

@media (max-width: 480px) {

    .header {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 60px;
        justify-content: space-around;
        align-items: center;
        text-align: center;

        position: fixed;
        top: 0px;
        right: 0px;
        background-color: yellow;
    }

    .nav {
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: rgba(0, 0, 0, 1);
        padding: 15px;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        border-radius: 10px;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: end;
        gap: 1rem;
        right: 1px;
        font-size: 20px;
    }

    .nav-list li a {
        text-decoration: none;
        color: white;
        padding: 2rem;
        padding: 10px;
    }

    .nav-list li a:hover {
        background-color: rgba(204, 204, 204, 0.5);
    }

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0px;
        font-size: 1.25rem;
        background-color: transparent;
    }

    .abrir-menu {
        color: black;
    }

    .cerrar-menu {
        color: white;
    }

    .img-abrir {
        width: 45px;
        height: 45px;
    }

    .img-cerrar {
        width: 25px;
        height: 25px;
    }

    .logo {
        width: 45px;
        height: 45px;
    }
}

/* Fin Header */




/* Footer */
@media (max-width: 480px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    /* Botones Principales */
    .cont-btn-principal {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;

        position: fixed;
        bottom: 0px;
        right: 0px;
        background-color: yellow;
    }

    .btn-principal {
        max-width: 80px;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .btn-principal a {
        text-decoration: none;
        color: black;
        font-size: 0.8rem;
    }

    .img-btn-principal {
        width: 30px;
        margin: 5px;
    }

    .btn-principal:hover {
        background-color: rgb(255, 255, 138);
    }

    /* Fin Botones Principales */
}

/* Fin Footer */